* {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  background: radial-gradient(circle at 100%, purple, orange);
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-delay: 0s;
  /* animation-iteration-count: ; */
  animation-name: slideInLeft;
}
@keyframes slideInLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
  }
}
a {
  cursor: pointer;
  text-decoration: none;
}
.center {
  text-align: center;
  align-items: center;
  justify-items: center;
  padding: 50px 40px;
}
/* footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 300px;
  background-color: rgb(78, 2, 99);
}
.socials {

}
.btn-social {
  width: 40px;
  height: 40px;
  image: url(../img/ln_logo.png);
} */



/*//// Main page ////*/

.index-page {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: stretch;
  background-image: url("../img/neon_woman.jpg");
  background-size: cover;
  background-position: center;
}
.header-box {
  display: flex;
  flex-direction: column;
  /* width:100%; 
  height:100%;*/
  align-items: center;
  justify-content: center;
  align-items: center;
  color: rgb(84, 29, 108);
  padding: 2em;
}
/* .header-box:hover {
    transition:3s;
    transition: scale(3);
} */

.font-h1 {
  font-size: 15vh;
  font-weight: bold;
  opacity: 80%;
  text-shadow: 0 0 30px rgb(155, 127, 163);
  margin: 0;
}
.font-h5 {
  font-size: 3vh;
  font-weight: bold;
  margin: 0;
}
.menu {
  display: flex;
  flex-direction: column;
  width: 2.5em;
  height: 100hv;
  padding-top: 2vh;
  /* background-color: rgb(252, 4, 190, 0.2); */
  background: linear-gradient(
    to right,
    rgb(252, 4, 190, 0.4),
    rgb(252, 4, 190, 0.05)
  );
}
.menu-logo {
  background-image: url("../img/menu.png");
  width: 30px;
  height: 5vh;
  background-size: cover;
  background-position: center;
}
.button {
  opacity: 50%;
  text-decoration: none;
  padding: 0.5em;
  margin: 0.5em;
  border-radius: 10px;
  color: aliceblue;
  background: linear-gradient(
    to top,
    hsl(271, 76%, 53%, 0.2),
    hsl(271, 76%, 53%, 0)
  );
  display: none;
  font-size: 1.5em;
}
.button:hover {
  transform: scale(1.05);
  background-color: hsl(271, 76%, 53%, 0.5);
  transition: 1s;
}
.menu:hover > .button {
  display: block;
}
.menu:hover {
  align-items: center;
  width: 40%;
  height: 100hv;
  transition: 2s;
}
/* .button:active{
    transition:scale(1.5); doesnt work
} */
.arrow-button {
  width: 90px;
  height: 50px;
  background-color: rgb(138, 43, 226, 0.2);
  background-image: url("../img/arrow-down.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 10px;
  left: calc(50% - 45px);
  opacity: 80%;
}
.arrow-button:hover {
  animation-name: arrow-button;
  animation-duration: 2s;
  animation-delay: 0;
  /* transform: scale(1.5) alternate; */
  animation-iteration-count: infinite;
}

@keyframes arrow-button {
  0% {
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgb(255, 165, 0, 0.5);
  }
  100% {
    transform: scale(1);
  }
}
.about-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  /* background: radial-gradient(circle at 100%, purple, orange); */
}
.about-item {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 70%;
  padding: 20px;
  border: 1px solid;
  border-color: transparent black transparent black;
}
.skills {
  display: flex;
  width: 70%;
}
.skills-box {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  width: 50%;
  margin: 10px;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  /* text-justify: center; */
  text-align: center;
}
.absolute-right {
  position: absolute;
  display: flex;
  align-items: center;
  right: 10px;
  /* bottom:calc(50% - 40px);  */
  width: 100px;
  height: 80px;
}
.text-button2 {
  display: block;
  width: 60px;
  transform: rotate(-90deg);
  height: 20px;
  margin: 0;
}
.arrow-button2 {
  display: block;
  width: 60px;
  height: 80px;
  background-color: rgb(138, 43, 226, 0.2);
  background-image: url("../img/arrow_right.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 70%;
}
.arrow-button2:hover {
  animation-name: arrow-button2;
  animation-duration: 2s;
  animation-delay: 0;
  /* transform: scale(1.5) alternate; */
  animation-iteration-count: infinite;
}

@keyframes arrow-button2 {
  0% {
  }
  50% {
    transform: scale(1.05);
    box-shadow: 0 0 5px rgb(255, 165, 0, 0.5);
  }
  100% {
    transform: scale(1);
  }
}


/*//// Portfolio page ////*/

.text-box {
  display: flex;
  width: 60%;
  height: 400px;
  border: 2px solid;
  border-color: transparent transparent black transparent;
  margin: 0 20%;
}
.prfl-box1 {
  display: block;
  width: 50%;
  height: 80px;
  justify-self: center;
  text-align: center;
  padding: 100px;
  margin: 20px;
}
.prfl-box2 {
  display: block;
  width: 100%;
  height: 600px;
  justify-self: center;
  text-align: center;
  padding: 100px 50px;
}
.portfolio {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* background-image: radial-gradient(circle at 100%,rgba(62, 13, 66, 0.43),rgba(141, 13, 153, 0.332)); use background-image because gradient is perceived almost like an image */
  margin: 5% 5%;
  /* box-shadow: 0px 0px 10px 10px rgba(46, 47, 46, 0.264); */
}
.portfolio-items {
  width: 30%;
  height: 200px;
  margin: 10px 5px;
  background-image: url("../img/palm_tree.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;
  display: flex;
  font-weight: bold;
  font-size: 20px;
  color: white;
  border-radius: 20px;
}
.portfolio-items:hover {
  transform: scale(1.05);
  transition: 1s;
  text-shadow: 0 0 10px red;
  font-size: 1.5em;
}

.s-btn {
  width: 150px;
  height: 30px;
  background-color: rgb(105, 2, 189);
  border-radius: 10px;
  text-align: center;
  padding: 10px 0 0 0;
  color: white;
  font-weight: bold;
}
.prtl-btn {
  padding: 30px;
  display: flex;
  justify-content: center;
}



/*//// Contact page ////*/

.contact-banner {
  display: flex;
  width: 100%;
  height: 50vh;
  align-items: stretch;
  background-image: url("../img/palm_tree.jpg");
  background-size: cover;
  background-position: center;
}
.font-h2 {
  font-family: fantasy;
  color: rgb(255, 255, 255, 0.5);
  font-size: 5em;
  letter-spacing: 5px;
}
.font-h2:hover {
  transition: 1s;
  transform: translateX(50px);
  letter-spacing: 10px;
}
.grid-container {
  display: grid;
  gap: 100px;
  justify-content: center;
  text-justify: center;
  /* background: radial-gradient(circle at 100%, purple, orange); */
  grid-template-areas:
    "header header"
    "main right"
    "main2 right"
    "main3 right"
    "footer footer";
  gap: 20px;
  /* padding: 50px; */
  font-family: monospace;
}
.item1 {
  grid-area: header;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.item2 {
  grid-area: main;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.item3 {
  grid-area: main2;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.item4 {
  grid-area: main3;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.item5 {
  grid-area: right;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
}
.item6 {
  grid-area: footer;
  border: 10px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  margin: 50px auto;
}
fieldset {
  border: none;
  justify-items: center;
}
.mg-box {
  height: 100px;
  width: 250px;
}
.submit-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  height: 30px;
  background-color: rgb(255, 196, 0);
  border-radius: 15px;
  font-weight: bold;
  border: 0;
}
.submit-btn:hover {
  transform: scale(1.05);
  transition: 1s;
}
input[type="text"],
input[type="email"],
select,
textarea {
  border: 5px solid rgb(206, 206, 206);
  background-color: white;
  border-radius: 15px;
}

/* SCREEN RESPONSIVENESS */

@media (max-width: 1000px) {
  .text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    height: 600px;
    border: 2px solid;
    border-color: transparent transparent black transparent;
    margin: 0 20%;
  }
  .prfl-box1 {
    padding: 100px 100px 0;
    margin: 20px;
  }
  .prfl-box2 {
    width: 80%;
    height: 600px;
  }
}

@media (max-width: 800px) {
  .portfolio-items {
    width: 40%;
  }
  .absolute-right {
    position: absolute;
    display: flex;
    align-items: center;
    transform: rotate(90deg);
    bottom: 30px;
    right: calc(50% - 50px);
    /* bottom:calc(50% - 40px);  */
    width: 100px;
    height: 80px;
  }
  .skills {
    margin: 0 0 200px 0;
  }
  .about-box {
    height: 140vh;
  }
}

@media (max-width: 550px) {
  .font-h1 {
    font-size: 10vh;
    font-weight: bold;
    opacity: 80%;
    text-shadow: 0 0 30px rgb(155, 127, 163);
    margin: 0;
  }
  .font-h2 {
    font-size: 3em;
  }
  .grid-container {
    grid-template-areas:
      "header"
      "right"
      "main"
      "main2"
      "main3"
      "footer";
    gap: 0;
  }
  .about-box {
    margin: 50px 0 0 0;
    height: 150vh;
  }
}
